/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	width: 900px;
	margin: 0px auto;
}

header, nav, article, aside, section, footer{
	display: block;
}

header, nav, article, aside, section, footer{
	border: 1px solid #ccc;
	margin: 5px 5px;
	padding: 5px 5px;
}

header{
    height: 60px;

	/* 常にページ上部に固定
	position: fixed;
	z-index: 10;
	*/
}

.header-left{
	float: left;
	color: #ED7000;
	font-size: 30px;

}

.header-right{
	float: right;
	color: #808080;
	font-size: 20px;

}

.contents{
/*	border: 1px solid #ccc;*/
	overflow: auto;
}

.contents-left{
	float: left;
	width: 720px;
}

.contents-right{
	float: left;
	width: 180px;
}

footer{
	clear: both;
	text-align: center;
	font-size: 80%;
}